<header class="app-header">
  <nav class="main-navigation">
    @if (isMobile) {
      <a class="nav-item logo-item">
        <img src="assets/images/logo.png" alt="Brand Logo" />
      </a>
      <div class="nav-row">
        @for (item of navigationItems; track item.title) {
          <a class="nav-item" [routerLink]="item.link">{{ item.title }}</a>
        }
      </div>
    } @else {
      @for (item of navigationItems; track item.title; let i = $index) {
        @if (i === 3) {
          <a class="nav-item logo-item">
            <img src="assets/images/logo.png" alt="Brand Logo" />
          </a>
        }
        <a class="nav-item" [routerLink]="item.link">{{ item.title }}</a>
      }
    }
  </nav>
</header>
