<div class="infobar">
  <div class="infobar-content">
    <div class="infobar-left">
      @for (icon of infobarLeftIcons; track icon.alt) {
        <button class="infobar-icon">
          <img [src]="icon.src" [alt]="icon.alt" class="infobar-logo">
        </button>
      }
    </div>
    <div class="infobar-right">
      @for (icon of infobarRightIcons; track icon.alt) {
        <button class="infobar-icon">
          <img [src]="icon.src" [alt]="icon.alt" class="infobar-logo">
        </button>
      }
    </div>
  </div>
</div>
