<div>
  <app-product-hero
  [product]="product"
  [loading]="loading"
  [error]="error"
  />

  <app-product-showcase
  [category]="'Product Details'"
  [title]="product()?.productDetails?.title"
  [imageSrc]="product()?.productDetails?.mainImage"
  [imagePosition]="'right'"
  [showcaseData]="product()?.productDetails?.data"
  />

  <app-product-showcase
    [category]="'Specifications'"
    [title]="product()?.productSpecifications?.title"
    [imageSrc]="product()?.productSpecifications?.mainImage"
    [imagePosition]="'left'"
    [showcaseData]="product()?.productSpecifications?.data"
  />


  <app-watch-slider />
</div>

